<!DOCTYPE html>
<html lang="en" >
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  {% include 'includes/ga.html' %}

  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  {% block canonical_rel %}{% endblock %}

  <!-- Bootstrap -->
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link href="{{ BOOTSTRAP_CDN_CSS }}" rel="stylesheet" integrity="{{ BOOTSTRAP_CDN_CSS_INTEGRITY }}" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="{{ FONT_URL }}&display=swap" rel="stylesheet">
  <style type="text/css">
    :root {
      --bs-font-sans-serif: "{{FONT_NAME}}",  sans-serif;
    }
  </style>

  <!-- Font Icons -->
  <style type="text/css">
    @font-face {
      font-display: swap;
      font-family: "bootstrap-icons";
      src: url("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/bootstrap-icons.woff2") format("woff2"),
      url("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fonts/bootstrap-icons.woff") format("woff");
    }
  </style>

  <!-- Theme CSS -->
  {% assets filters="cssmin", output="css/style.min.css", 
    "css/style.css",
    "css/bootstrap-icons.css"
  %}
  <link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}" type="text/css"/>
  {% endassets %}
  <meta name="theme-color" content="--bs-tertiary-bg">

  <!-- Favicon and Variations -->
  <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/images/icon.svg" >
  <link rel="apple-touch-icon" href="{{ SITEURL }}/images/icon-80.png" sizes="80x80">
  <link rel="apple-touch-icon" href="{{ SITEURL }}/images/icon-120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="{{ SITEURL }}/images/icon-180.png" sizes="180x180">

  <!-- Dark/Light Mode Switch -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/darkmode.js"></script>
{% endblock %}
</head>

<body>

{% include 'includes/navbar.html' %}

{% block banner %}{% endblock %}

<div id="content" class="bg-body">

<!-- Breadcrumb -->
<div class="container py-1" id="breadcrumb">
  <nav aria-label="breadcrumb">
    {% block breadcrumb %}
    {% endblock %}
  </nav>
</div>
<!-- End Breadcrumb -->

<div class="container py-3 pb-3">
  {% block content %}{% endblock %}
</div>
</div>

{% include 'includes/footer.html' %}

<script src="{{BOOTSTRAP_CDN_JS}}" integrity="{{BOOTSTRAP_CDN_JS_INTEGRITY}}" crossorigin="anonymous"></script>

{% if USE_WEBP %}
<!-- Enable Modernizr -->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/modernizr-custom.js"></script>
{% endif %}

</body>
</html>