<footer class="footer pt-4 bg-body-tertiary border-top">
  <div class="container-md" id="footer">
    <div class="row" id="footer-widgets">
      <div class="col-12 col-sm-6 col-md-3 col-xl-2 mb-3" id="links">
      {% if LINKS %}{% include 'includes/footer/links.html' %}{% endif %}
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-xl-2 mb-3" id="social">
      {% if SOCIAL %}{% include 'includes/footer/social.html' %}{% endif %}
      </div>
      <div class="col-12 col-md-6 col-xl-7 offset-md-0 offset-xl-1 mb-3" id="aboutme">
      {% if ABOUT_ME %}{% include 'includes/footer/aboutme.html' %}{% endif %}
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between">
      <p class="small">
        {{ AUTHOR }} &copy; {{ COPY_DATE }}.
        {{ _('Powered by') }} <a href="http://getpelican.com/" target="_blank">Pelican</a>.
        {{ _('Theme by')}} <a href="http://bootswatch.com/" target="_blank">Bootswatch</a>.
        {{ _('Icons by')}} <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>.
      </p>
      {% if SOURCE_CODE_URL %}
      <p class="small">
        <a href={{SOURCE_CODE_URL}} target="_blank">{{ _('Source Code') }}</a>
      </p>
      {% endif %}
    </div>
  </div>
</footer>