<nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom">
  <div class="container-md">
    <a class="navbar-brand" href="{{ SITEURL }}/">
      {% if SITELOGO %}
        <img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}" height="{{ SITELOGO_SIZE }}" alt="Site Logo" class="img-fluid"/>
      {% endif %}
      {{SITENAME}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        {% for title, link in MENUITEMS %}
        <li class="nav-item">
          <a class="nav-link" href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
        </li>
        {% endfor %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
          <li {% if cat == category %}class="active"{% endif %}>
            <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
          </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>