/* More spacing in Social */
#sidebar #social i, 
#sidebar #social svg{
    margin-right: 5px;
}

#banner {
    padding: 100px 0;
    background-size: 2000px auto;
    background-position: top center;
    background-attachment: fixed;
}


/* Got Colors from .well*/
table, thead tr {
    border: 1px solid #e7e7e7;
}
table {
    width: 100%;
}
th, td {
    text-align: center;
}
tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

/* For Edcuation Page */
.degree-img {
    float: left;
    height: 100px;
    margin: 0 10px 10px 0;
    position: relative;
    width: 100px;
  }

.degree-img img {
    height: 100px;
    width: 100px;
}

.degree-info {
    display: table;
}

.degree-card:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}