{% extends "!theme/page.html" %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block content %}
<section id="content" class="body">
<div class="text-over-img">
    <img src="{{ SITEURL }}/{{ page.background_image }}" {% if page.background_image_alt %} alt="{{page.background_image_alt}}" {% endif %} class="background-img">
    

    <div class="forground-text">
        {% if page.title %}
		<h1 class="entry-title">{{ page.title }}</h1>
		{% endif %}
        {% import 'includes/translations.html' as translations with context %}
		{{ translations.translations_for(page) }}
        <div class="entry-content">
			{{ page.content }}
		</div>
        <a class="btn btn-primary" href="{{ SITEURL }}/" role="button">Return Home</a>
    </div>

</div>
</section>

{% if page.logfile %}
<?php
    //Record this page load to log 404 error page views.
    $filename = "../logs/{{ page.logfile }}";
    //Get _SERVER variables
    $ip = $_SERVER['REMOTE_ADDR'];
    $request_uri = $_SERVER['REQUEST_URI'];
    $request_method = $_SERVER['REQUEST_METHOD'];
    $server_protocol = $_SERVER['SERVER_PROTOCOL'];
    //Get the Time of Access
    $log_time = date("n/j/Y g:i:s A",time());

    // Log
    $fh =fopen($filename,"at");
    fwrite($fh, $log_time . "\t" . $ip . "\t" . $request_uri . "\t" . $request_method . "\t" . $server_protocol . "\n");
    fclose($fh);
?>
{% endif %}
{% endblock %}

