{% extends "!theme/welcome.html" %}

{% block content %}
{{ super () }}
<div class="row">
  <div class="col-12 col-md-8 order-2 order-md-1">
    <h2>For more:</h2>
    <ul>
      <li>
        <p><a href="{{ SITEURL }}/publications/">Publications</a> for a list of my presentations and publications.</p>
      </li>
      <li>
        <p><a href="{{ SITEURL }}/education/">Education</a> for my academic degrees.</p>
      </li>
      <li>
        <p><a href="{{ SITEURL }}/posts/">Posts</a> for recent posts on my work and my hobbies.</p>
      </li>
      <li>
        <p><a href="/files/Declan Gaylo - Resume.pdf">Resume <i class="bi bi-file-earmark-pdf"></i></a>.</p>
      </li>
    </ul>
  </div>
  <div class="col-12 offset-sm-3 col-sm-6 col-md-4 offset-md-0 order-1 order-md-2 py-3">
    {% if USE_WEBP and AVATAR_WEBP %}
    <picture>  
        <source srcset="{{ SITEURL }}/{{ AVATAR_WEBP }}" type="image/webp">
        <source srcset="{{ SITEURL }}/{{ AVATAR }}" type="image/jpeg">
        <img class="img-fluid rounded" {% if AVATAR_WIDTH %}width="{{ AVATAR_WIDTH }}"{% endif %} {% if AVATAR_HEIGHT %}height="{{ AVATAR_HEIGHT }}"{% endif %} src="{{ SITEURL }}/{{ AVATAR }}" alt="">
    </picture>
    {% else %}
    <img class="img-fluid rounded" src="{{ SITEURL }}/{{ AVATAR }}"/>
    {% endif %}
  </div>
</div>
{% endblock %}