
body {
    background-color: rgba(var(--bs-tertiary-bg-rgb));
}

/* change bootstrap link colors */
[data-bs-theme=light] {
    --bs-link-color:#00007f;
    --bs-link-color-rgb: 0, 0, 192;

    --bs-link-hover-color: #00007f;
    --bs-link-hover-color-rgb: 0, 0, 63;
}

/* Dont show links in article header */
#content h1.article-title a{
    text-decoration: none;
    color: inherit;
}

/* Breadcrumb settings */
#breadcrumb ol {
    margin-bottom: 0;
    font-size: small
}

/* Solutions for mobile and small screens */
@media (max-width: 768px) {
    /*Font size for tables*/
    #content table {
        font-size: small;
    }
}
@media (max-width: 576px) {
    /*Font size for tables*/
    #content table {
        font-size: x-small;
    }
}

/* hover animation for cards */
.hover-card {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.hover-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transform: translateY(-2px); /* subtle lift */
}

/* Bootstrap Icons Adjustment */
.bi {
  line-height: 1;
  vertical-align: -.125em;
}

/* icon for PDF downloads */
.pdf-download-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  -webkit-mask: url("/theme/file-earmark-pdf.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask: url("/theme/file-earmark-pdf.svg") no-repeat center;
  mask-size: contain;
  background-color: currentColor;
}

/* custom size the icon for the darkMode switch */
label#darkMode-label svg {
  width: 1em;
  height: 1em;
}